<header class="relative z-10">
    <nav class="flex items-center justify-between p-1 bg-[#d9d3d3]">
        <a href="./index.html" class="flex items-center">
            <img class="w-16 mx-5" src="./assets/images/chesslogo.svg" alt="Logo">
        </a>
        <div>
            <ul class="flex">
                <li class="mx-2"><a class="text-gray-800 font-semibold hover:text-blue-500" href="./index.html">Index</a></li>
                <li class="mx-2"><a class="text-gray-800 font-semibold hover:text-blue-500" href="./miembros.html">Miembros</a></li>
                <li class="mx-2"><a class="text-gray-800 font-semibold hover:text-blue-500" href="./trainer.html">Entrena</a></li>
            </ul>
        </div>
    </nav>
</header>
